<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro Novo Restaurantes</title>
<link rel="stylesheet" type="text/css"
	href="/materialize/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

</head>

<body>

	<header th:replace="fragments/padrao :: cabecalho"></header>


	<div class="row">
		<form class="col s12" method="post" action="salvarRestaurante"
			enctype="multipart/form-data">
			<div class="row">

				<input type="hidden" name="id" th:value="${restaurantes?.id}" />

				<div class="input-field col s4">
					<i class="material-icons prefix">account_circle</i> <input
						id="nome" type="text" class="validate" name="nome"
						th:value="${restaurantes?.nome}"> <label for="nome">Nome</label>
				</div>

				<div class="input-field col s4">
					<i class="material-icons prefix">description</i> <input
						id="descricao" type="text" class="validate" name="descricao"
						th:value="${restaurantes?.descricao}"> <label
						for="descricao">Descrição</label>
				</div>

				<div class="input-field col s4">
					<select name="tipo.id">
						<option th:each="r: ${tipos}" th:text="${r.nome}"
							th:value="${r.id}"></option>
					</select> <label>Tipo de Restaurante</label>
				</div>

				<div class="input-field col s4">
					<i class="material-icons prefix">attach_money</i> <input id="preco"
						type="text" class="validate" name="preco"
						th:value="${restaurantes?.preco}"> <label for="preco">Preco</label>
				</div>

				<div class="input-field col s4">
					<i class="material-icons prefix">star_border</i> <input
						id="atracoes" type="text" class="validate" name="atracoes"
						th:value="${restaurantes?.atracoes}"> <label for="atracoes">Atrações</label>
				</div>

				<div class="input-field col s4">
					<i class="material-icons prefix">payment</i> <input
						id="formaDePagamento" type="text" class="validate"
						name="formaDePagamento"
						th:value="${restaurantes?.formaDePagamento}"> <label
						for="formaDePagamento">Formas de Pagamento</label>
				</div>

				<div class="input-field col s4">
					<i class="material-icons prefix">access_time</i> <input
						id="horario" type="text" class="validate" name="horario"
						th:value="${restaurantes?.horario}"> <label for="horario">Horario</label>
				</div>

				<div class="input-field col s4">
					<i class="material-icons prefix">insert_link</i> <input id="site"
						type="text" class="validate" name="site"
						th:value="${restaurantes?.site}"> <label for="site">Site</label>
				</div>

				<div class="input-field col s4">
					<i class="material-icons prefix">phone</i> <input id="telefone"
						type="text" class="validate" name="telefone"
						th:value="${restaurantes?.telefone}"> <label for="telefone">Telefone</label>
				</div>

				<div class="input-field col s4">
					<i class="material-icons prefix">add_location</i> <input
						type="text" id="cep" class="validate" name="cep"
						th:value="${restaurantes?.cep}"> <label for="cep">Cep</label>
				</div>

				<div class="input-field col s4">
					<input type="text" id="rua" class="validate" name="endereco"
						readonly="readonly" placeholder="Endereco"
						th:value="${restaurantes?.endereco}">
				</div>

				<div class="input-field col s4">
					<input type="text" id="bairro" class="validate" name="bairro"
						readonly="readonly" placeholder="Bairro"
						th:value="${restaurantes?.bairro}">
				</div>

				<div class="input-field col s4">
					<input type="text" id="cidade" class="validate" name="cidade"
						readonly="readonly" placeholder="Cidade"
						th:value="${restaurantes?.cidade}">
				</div>

				<div class="input-field col s4">
					<input type="text" id="uf" class="validate" name="estado"
						readonly="readonly" placeholder="Estado"
						th:value="${restaurantes?.estado}">
				</div>

				<div class="input-field col s4">
					<i class="material-icons prefix">home</i> <input type="text"
						id="numero" class="validate" name="numero"
						th:value="${restaurantes?.numero}"> <label for="numero">Nº</label>
				</div>

				<div class="input-field col s4">
					<input type="text" id="complemento" class="validate"
						name="complemento" th:value="${restaurantes?.complemento}">
					<label for="complemento">Complemento</label>
				</div>
				
				
				<div class="row">
					<div class="file-field input-field col s4">
						<div class="btn amber accent-4">
							<span>File</span> <input type="file" name="fileFotos" multiple>
						</div>
						<div class="file-path-wrapper">
							<input class="file-path validate" type="text"
								placeholder="Upload one or more files">
						</div>
					</div>
				</div>
				
				<div th:if="${restaurantes?.fotos?.length > 0}">
					<h6>Fotos cadastradas:</h6>
					<div>
						<ul id="">
							<li th:each="fotos : ${restaurantes?.verFotos()}">
								<a th:href="${fotos}" target="blank"><img th:src="${fotos}"/></a>
							</li>
						
						</ul>
					</div>
				</div>

			</div>

			<div class="row">

				<div class="col s2">
					<label> <input type="checkbox" name="delivery" th:checked="${restaurantes?.delivery}" /> <span>Delivery</span>
					</label>
				</div>

				<div class="col s2">
					<label> <input type="checkbox" name="acessibilidade" th:checked="${restaurantes?.acessibilidade}"/> <span>Acessibilidade</span>
					</label>
				</div>

				<div class="col s2">
					<label> <input type="checkbox" name="driveThru" th:checked="${restaurantes?.driveThru}"/> <span>Drive
							Thru</span>
					</label>
				</div>

				<div class="col s2">
					<label> <input type="checkbox" name="estacionamento" th:checked="${restaurantes?.estacionamento}"/> <span>Estacionamento</span>
					</label>
				</div>

				<div class="col s2">
					<label> <input type="checkbox" name="espacoPet" th:checked="${restaurantes?.espacoPet}"/> <span>Espaço
							Pet </span>
					</label>
				</div>

				<div class="col s2">
					<label> <input type="checkbox" name="playground" th:checked="${restaurantes?.playground}"/> <span>Playground</span>
					</label>
				</div>

			</div>

			<button class="col s1 btn waves-effect waves-light" type="submit"
				name="buton">
				Enviar <i class="material-icons right">send</i>
			</button>

		</form>
	</div>



	<footer th:replace="fragments/padrao :: rodape"></footer>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/materialize/js/materialize.min.js"></script>

</body>



<script>
	$(document).ready(
			function() {

				$('select').formSelect();

				function limpa_formulário_cep() {
					$("#rua").val("");
					$("#bairro").val("");
					$("#cidade").val("");
					$("#uf").val("");
				}

				$("#cep").blur(
						function() {

							var cep = $(this).val().replace(/\D/g, '');

							if (cep != "") {

								var validacep = /^[0-9]{8}$/;

								if (validacep.test(cep)) {

									$("#rua").val("carregando...");
									$("#bairro").val("carregando...");
									$("#cidade").val("carregando...");
									$("#uf").val("carregando...");

									$.getJSON("https://viacep.com.br/ws/" + cep
											+ "/json/?callback=?", function(
											dados) {

										if (!("erro" in dados)) {
											$("#rua").val(dados.logradouro);
											$("#bairro").val(dados.bairro);
											$("#cidade").val(dados.localidade);
											$("#uf").val(dados.uf);
										} else {
											limpa_formulário_cep();
											alert("CEP não encontrado.");
										}
									});
								} else {
									limpa_formulário_cep();
									alert("Formato de CEP inválido.");
								}
							} else {
								limpa_formulário_cep();
							}
						});
			});
</script>

</html>