<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Restaurantes Cadastrados</title>
<link rel="stylesheet" type="text/css" href="/materialize/css/materialize.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>

	<header th:replace="fragments/padrao :: cabecalho"></header>
	
	<table class="striped">
		<thead>
			<th>Id</th>
			<th>Nome:</th>
			<th>Descrição:</th>
			<th>Formas de Pagamento</th>
			<th>Horarios:</th>
			<th>Fotos:</th>
			<th>Alterar</th>
			<th>Excluir</th>
		</thead>
		
		<tbody>
			<tr th:each="restaurantes:${restaurantes}">
					<td th:text="${restaurantes.id}"/>
					<td th:text="${restaurantes.nome}"/>
					<td th:text="${restaurantes.descricao}"/>
					<td th:text="${restaurantes.formaDePagamento}"/>
					<td th:text="${restaurantes.horario}" /> 	
					<td> <img th:src="${restaurantes.fotos}"/> 						
					<td><a th:href="@{/alterarRestaurantes(id=${restaurantes.id})}">Alterar</a></td>
					
					<td><a th:attr="onclick=|return confirm('Deseja excluir: ${restaurantes.nome}')|"
			th:href="@{/excluirRestaurantes(id=${restaurantes.id})}">Excluir </a> </td>
					
			</tr>

		</tbody>
	</table>
	
	<ul class="pagination">
	    <li th:class="${pagAtual == 1 ? 'disable' : 'waves-effect'}"><a th:href="${pagAtual > 1 ? pagAtual -1 : '#'}"><i class="material-icons">chevron_left</i></a></li>	
		
		<li th:class="${pagAtual == p ? 'active blue' : 'waves-effect'} "  th:each="p:${numPaginas}">
			<a th:href="${p}"><span th:text="${p}"></span></a>
		</li>
	
	    <li class="waves-effect "><a th:href="${pagAtual < totalPages ? pagAtual +1 : '#'}"><i class="material-icons">chevron_right</i></a></li>
  	</ul>
        <footer th:replace="fragments/padrao :: rodape"></footer>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/materialize/js/materialize.min.js"></script>
        <script>
        $(document).ready(function(){
            $('select').formSelect();
          });
        </script>
        
</body>


</html>